# Frontend Environment Variables
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bm9ibGUtZmVsaW5lLTAuY2xlcmsuYWNjb3VudHMuZGV2JA
NEXT_PUBLIC_API_URL=https://pkc-server.vercel.app

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://kzovbtafmkwjdaoycaab.supabase.co   
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt6b3ZidGFmbWt3amRhb3ljYWFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU4NDAyMTcsImV4cCI6MjA3MTQxNjIxN30.AkZryJTGgEGlzj6sYW2Ntq-v0CwIHD2OsKHPy7yPy2k

